__pycache__/
*.pyc
.venv/
.env
outputs/
checkpoints/
wandb/
.slurm/
/venv/
/runs/
/logs/
runs/*
data/*
cache/
wandb/
figs/
analysis_ms/
*.err
*.json
*.log
.vscode/ 

# Ignore all folders named data
****/data/
