__pycache__/
*.pyc
*.csv
.venv/
.env
outputs/
checkpoints/
wandb/
.slurm/
/venv/
/runs/
/logs/
runs/*
data/*
cache/
wandb/
figs/
analysis_ms/
*.err
*.json
*.log
.vscode/ 
*.pkl

# Ignore all folders named data
**/runs/
Models/Any2Graph/Img2Graph/Coloring/data/
Models/SpecBridge/data/
